:root {
  color-scheme: dark;
}

/* Biar ukuran elemen rapi */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Background global & reset margin body */
body {
  margin: 0;
  min-height: 100vh;
  background: #020617; /* sama kayak background app */
}

/* Root aplikasi jangan dibatasi max-width lagi */
#root {
  min-height: 100vh;
}
